html {
  box-sizing: border-box;
}

header {
  margin: 10px;
  background-color: blue;
  border-radius: 10px;
  color: yellow;
}

main {
  margin: 10px;
  background-color: orange;
  border-radius: 10px;
  color: blue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

footer {
  margin: 10px;
  background-color: purple;
  border-radius: 10px;
  color: lavenderblush;
}

.green-things {
  /* margin: 10px; */
  background-color: green;
  border-radius: 10px;
  color: lightgreen;
  padding: 10px;
}
.red-things {
  /* margin: 10px; */
  background-color: red;
  border-radius: 10px;
  color: pink;
  padding: 10px;
}
.yellow-things {
  /* margin: 10px; */
  background-color: yellow;
  border-radius: 10px;
  color: darkgoldenrod;
  padding: 10px;
}
